html, body{
    height: 100%
}
body{
    margin: 0;
    display: flex;
    background: linear-gradient(grey,red);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.p5Canvas{
    border-width: 5px;
    border-color: red;
    border-style:solid;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.top{
  color: white;
  background-color: grey;
}
.difficultyButton{
  border-bottom-style: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.difficultyButton:hover{
  background-color: rgba(51,51,51, .6);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.active{
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}